#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 6%;
}

body {
  font-family: "Montserrat";
}

/* navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
}

/* buttons */
.downloadbutton {
  margin: 5% 3% 5% 0;
}

/* title image */
.titleimage {
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  left: 50px;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.featurebox {
  text-align: center;
  padding: 5%;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.3rem;
  text-align: center;
}

p {
  color: #8f8f8f;
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 2.5rem;
  text-align: center;
}

.testimonial-image {
  width: 13%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  padding: 20px 20px 50px;
  width: 15%;
}

.carousel-item {
  padding: 7% 15%;
}

.card {
  text-align: center;
  padding: 30px;
  height: 350px;
  border-width: thin;
}

/* .signup{
  color: #ff4c68;
  border-color: #ff4c68;
} */
/* calling secion */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 6rem;
  text-align: center;
}
#cta h3{
  font-size: 3rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 30px;
}
.social{
  margin: 20px 20px 0;
}
#footer{
  background-color: #333;
}

#footer p {
  font-weight: 400;
  color: white;
  margin-bottom: 0;
  padding-bottom: 10px;
}

@media (max-width:1024px) {
  .titleimage{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
